<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/template/assets/css/reset.css">
    <link rel="stylesheet" href="/template/assets/css/index.css"> -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>Welcome</title>
</head>
<body>
    <div class="all">
        <div class="container">
            <div id="header" class="row">
                <div class="col-md-12">
                    <p class="h1 text-center">This is backend practice website</p>
                </div>
            </div>
            <div id="button-container" class="row">
                <div id="button-group" class="col-md-4 row gy-2">
                    <div class="col-md-6 d-flex justify-content-center">
                        <a href="/signIn"><button class="btn btn-primary">Sign In</button></a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <a href="/signUp"><button class="btn btn-primary">Sign Up</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>